.transaction_history {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.transaction_history th,
.transaction_history td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

.transaction_head {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(232, 181, 118);
  background-color: rgb(63, 61, 67);
}

.transaction_body {
  font-size: 24px;
  color: rgb(48, 17, 95);
}

.transaction_body tr:nth-child(2n) {
  background-color: rgb(207, 247, 207);
}
